

    /* Generic Styles */
    p{
        color:#999999;   
    }
    
    h1,h2,h3,h4,h5,h6{
        color:#f6f6f6;
    }
    
    h4{
        font-size:14px;
        font-weight:bold;
        margin-top:40px;
    }
    
    ul,ol{
        color:#cccccc;
    }
    
    ul li{
        list-style-image:url("../images/bullet.png");
    }
    
    ul ul li{
        list-style-image:url("../images/bullet_01.png");
    }
    
    ul ul ul li{
        list-style-image:url("../images/bullet_02.png");
    }
    
    body
    {
        background-color: #282828;  
    }
    
    .info{
        background-color: #222222;
    }
    
    .borderTop{
        overflow:hidden;
        margin-bottom:25px;
        border-bottom:1px solid #333;
        border-top:1px solid #333;
    }
    
    
    a
    {
        text-decoration: none;
        color:#ffa903;
    }
    
    a:hover
    {
        text-decoration: underline;
        color:#ffd304;
    }
    
    pre{
        background-color:#202020;
        color:#ffd304;
    }
    
    .alt{
        /*margin-top:*/
        color:#999999;
    }
    
    thead th {
    	color: white;
    	background-color: transparent;
    }
    
    tr.even td {
    	background-color: #242424;
    }
    
    td{
        color:#999999;
       	vertical-align: top;
       	padding-bottom: 10px;
       	border-top: 1px solid #202020;
    	
 
    }
    
    td.parameter {
    	color:#ffa903;
    	white-space: nowrap;
    	
    }
    
    td.section {
    	color: white !important;
    	text-align: center;
    	padding: 8px;
    	font-weight: bold;
    }
    
    
    /* LIST ITEMS */
    
    
    
    
    
    
    
    
    
    
    